.hero {
  padding-top: 50px;
  background-image: linear-gradient(
      to right,
      rgba(2, 15, 8, 0.5),
      rgba(2, 15, 8, 0.5)
    ),
    url(/image/hero/background-hero-320.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.5)
      ),
      url(/image/hero/background-hero-768.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.5)
      ),
      url(/image/hero/background-hero-1280.jpg);
  }
}
